# Twoje prywatne zmienne do uruchomienia Agenta
# Skopiuj ten plik i zapisz jako ".env" w tym samym katalogu. 
# Zmień dane na własne - plik ".env" jest ignorowany przez git!

CF_API_TOKEN="TWÓJ_PRAWDZIWY_TOKEN_CLOUDFLARE_TUTAJ!"
CF_NR_ACCOUNT="TUTAJ_WKLEJ_SWOJ_KOD_KONTA"

# Klucze opcjonalne - uzupełnij tylko ten provider którego chcesz używać:
OPENAI_API_KEY="OPCJONALNY_KLUCZ_OPENAI"
ANTHROPIC_API_KEY="OPCJONALNY_KLUCZ_ANTHROPIC_CLAUDE"
GEMINI_API_KEY="OPCJONALNY_KLUCZ_GOOGLE_GEMINI"
OPENROUTER_API_KEY="OPCJONALNY_KLUCZ_OPENROUTER"
